.logo_mainp {
    width: 16vw;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    padding: 10px;
}

body {
    zoom: 90%
}

@media only screen and (max-width: 767px) {

    /* body {
      background-color: lightblue;
    } */
    .logo_mainp {
        width: 49vw;
        border: 1px solid white;
        border-radius: 10px;
        background: white;
        padding: 10px;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

    .logo_mainp {
        width: 49vw;
        border: 1px solid white;
        border-radius: 10px;
        background: white;
        padding: 10px;
    }
}